html,
body {
    overflow: hidden;
    height: 100%;
}

.unincorporated {
    background-color: #ccc;
}

.sackson{
    background-color: #f00;
}

.zeta{
    background-color: #fdd017;
}

.hydra{
    background-color: #ffa500;
}

.fusion{
    background-color: #0f0;
}

.america{
    background-color: #00f;
}

.phoenix{
    background-color: #800080;
}

.quantum{
    background-color: #40e0d0;
}

#gamePanel {
    display: none;
}